nav{
    width: 100%;
}

#nav-container{
    width: 90%;
    height: 8vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-container h1{
    text-transform: capitalize;
    font-size: 1.8em;
}

#nav-cart-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#nav-cart-container .cart-price {
    font-size: 1em;
    margin-right: .4vw;
    padding-right: .4vw;
    border-right: solid 1px #333333;
}

#nav-cart-container .cart-count{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    transform: translate(50%, 25%);
    background: #e17b06;
    color: #fff;
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 5px;
    border: solid 2px #fff;
}

#nav-cart-container img{
    height: 1.2em;
    cursor: pointer;
    transform: translateY(15%);
}