@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #F6F6F6;
}

.input-holder{
    position: relative;
    height: 4vh;
}

.input-holder img{
    position: absolute;
    top: 50%;
    left: .5vw;
    height: 50%;
    transform: translateY(-.8vh);
}

.input-holder input{
    width: 100%;
    height: 100%;
    padding-left: 2vw; 
    outline: none;
    border-radius: 10px;
    font-size: 1.2em;
}

.product-conteiner{
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.product-conteiner h4{
    margin-top: 1vh;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 700;
}

.product-conteiner p{
    margin: 0vh;
    margin-bottom: .5vh;
}

.product-image-conteiner{
    height: 50vh;
    background: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image-conteiner img{
    max-width: 100%;
    max-height: 100%;
}

#products-conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    row-gap: 5vh;
}

a {
    outline-color: transparent;
}

a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #333333;
    text-decoration: none;
}

.photo-template-conteiner{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.photo-template-conteiner img{
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
    transform: translateY(10%);
    z-index: -1;
}

.photo-template-text-conteiner{
    width:30%;
    position: absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
}

.photo-template-text-conteiner h1{
    font-size: 4em;
    font-weight: 800;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 0;
}

.photo-template-text-conteiner p{
    font-size: 2em;
    margin: 0;
    transform: translateY(-50%);
}

.photo-template-text-conteiner button{
    width: 6vw;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #B90504;
    color: #F6F6F6;
    padding: 1vh;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.photo-template-text-conteiner button:hover{
    background-color: #990100;
}

#index-products{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#index-products h2{
    font-size: 2.5em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px #333333;
}

#index-products form {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5vh;
}

#index-products form .input-holder{
    width: 50%;
}

#cloth-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
}

#cloth-container img{
    width: 50%;
    background-color: #E8E8E8;
    margin-right: 2vw;
}

.rightside-cloth h2 {
    font-size: 2.5em;
    margin-bottom: 2vh;
}

.rightside-cloth .price {
    font-size: 1.2em;
    margin: 0vh;
    transform: translateY(-100%);
}

.rightside-cloth input{
    outline: none;
    border: none;
    color: #F6F6F6;
    background: #B90504;
    border-radius: 15px;
    padding: 1.5vh;
    font-size: 1em;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.rightside-cloth input:hover{
    background: #990100;
}

.rightside-cloth .description{
    margin-top: 5vh;
    font-size: 1.2em;
}

#cart-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: center;
}

#cart-container h2{
    font-size: 4em;
}

.cart-product{
    width: 90%;
    height:10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: solid 2px #E8E8E8;
    margin-bottom: 3vh;
}

.cart-product img{
    height: 10vh;
    background-color: #E8E8E8;
}

.cart-product-text{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-product-text img{
    height: 1.2em;
    background-color: transparent;
    margin-right: 1vw;
    padding-left: .75vw;
    cursor: pointer;
    transform: translateY(10%);
}

.cart-product-text p{
    font-size: 1.2em;
    margin: 0;
    padding-right: .75vw;
    transform: translateY(10%);
    border-right: solid 1px #333333;
}

.cart-product-text h4{
    font-size: 1.8em;
    margin: 0;
    margin-right: .5vw;
}